priority -30
extends php,vue, javascript

snippet url "url"
url('${1}')
$0
endsnippet

snippet js "srcjs"
<script src="script.js"></script>
$0
endsnippet

snippet css "linkcss"
<link rel="stylesheet" href="style.css" />
$0
endsnippet

snippet i "i label"
<i class"${1}"></i>
endsnippet

snippet canvas "canvas"
<canvas id="canvas" width="${1}" height="${2}"></canvas>
endsnippet
