##Java-snippets

#println
snippet st "System.out.println"
System.out.println("$1");
endsnippet

#scanner
snippet scan "Scanner"
Scanner i = new Scanner(System.in);
endsnippet

#start
snippet start "java"
import java.util.Scanner;
public class Main {
	public static void main(String[] args) {
		Scanner i = new Scanner(System.in);
		int x=i.nextInt();
		//code
		$0
}}
endsnippet

snippet print "out.println|printf|print"
out.println(${1})
$0
endsnippet
