priority -30

extends java,html


snippet jsp "jsp code"
<%
${1}
%>
$0
endsnippet

snippet utf "support the chinese language" -b
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>$0
endsnippet

