priority -20

snippet react "import"
import React from 'react';
$0
endsnippet

snippet func "function"
export default function ${1:Name} {
return(
$0
);
}
endsnippet

snippet rcc "React class"
import React,{Component} from 'react';

class ${1:Hello} extends Component{
	constructor(props){
	super(props);
	${2}
}
	render(){
		return(
		${3:jsx}
		$0
		);
	}
}
endsnippet
