# for swift language

snippet st "print"
print(${1})
$0
endsnippet

#var
snippet var "var"
var ${1} = ${2}
$0
endsnippet

#let
snippet let "let"
let ${1} = ${2}
$0
endsnippet

#func
snippet fc "func"
func ${1}(${2})->${3}{
${4}
}$0
endsnippet

#->
snippet to "->"
->
endsnippet

#Int
snippet int "Int"
Int
endsnippet

#Bool
snippet bool "Bool"
Bool
endsnippet
